<nav
  class="bg-white text-text fixed top-0 left-0 w-12 h-full flex flex-col items-center justify-center gap-12 z-10 invisible md:visible"
>
  <span class="text-2xl material-icons"> home </span>
  <span class="text-2xl material-icons"> speaker_notes </span>
  <span class="text-2xl material-icons"> account_circle </span>
  <span class="text-2xl material-icons"> sync_alt </span>
  <span class="text-2xl material-icons"> plagiarism </span>
  <span class="text-2xl material-icons"> insert_chart_outlined </span>
</nav>
