<header
  class="bg-white fixed top-0 left-0 w-full h-12 flex items-center justify-between z-10"
>
  <span></span>
  <div class="relative hidden my-2 md:block">
    <input
      placeholder="O que você está buscando?"
      class="min-w-72 bg-background pr-52 p-2 rounded-lg focus:outline-none text-text"
    />
    <span class="material-icons absolute right-2 top-2 text-text">
      search
    </span>
  </div>
  <div class="text-text flex items-center flex-row gap-2 pr-2">
    <span class="text-lg material-icons hidden md:block"> import_contacts </span>
    <span class="text-lg material-icons hidden md:block"> settings </span>
    <span class="text-lg material-icons hidden md:block"> notifications </span>
    <span class="text-3xl material-icons"> account_circle </span>
    <span>Ana</span>
    <span class="material-icons"> expand_more </span>
  </div>
</header>
